extends layout

block content
  |<div id="container"/>
  //- inject:js
  |<script type="text/jsx" src="js/App.jsx"/>
  |<script type="text/jsx" src="js/Chart.jsx"/>
  |<script type="text/jsx" src="js/Legend.js"/>
  |<script type="text/jsx" src="js/Bars.js"/>
  |<script type="text/jsx" src="js/Data.js"/>
  //- endinject
